.login-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 900px;
  .login{
    margin-top: 5vh;
    position: relative;
    width: 400px;
    .mark{
      width: 180px;
      height: 180px;
      top: -5%;
      bottom: 10vh;
      position: absolute;
    }
    .logo{
      display: flex;
      align-items: center;
      margin-left: 20px;
      h3{
        font-family: GilroyBold;
        line-height: 30px;
        font-size: 24px;
        color: #2A2B3B;
      }
      img{
        width: 31px;
        height: 31px;
      }
    }
    .form-title{
      margin-left: 20px;
      font-family: MacPawFixelBold;
      font-size: 32px;
      color: #2A2B3B;
      text-align: left;
      width: 300px;
    }
    .form{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      width: 400px;
      .email{
        display: flex;
        flex-direction: column;
        span{
          font-family: MacPawFixelBlack;
          color: #2A2B3B;
          font-size: 16px;
          margin: 5px 0 5px 20px;
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        input{
          width: 358px;
          height: 34px;
          padding: 10px 20px;
          border: none;
          border-radius: 17px;
          font-family: MacPawFixelMedium;
          font-size: 18px;
          line-height: 25px;
          outline: none;
        }
        input::placeholder{
          font-family: MacPawFixelRegular;
          font-size: 18px;
          opacity: 0.3;
        }
      }
      .pass{
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        label{
          font-family: MacPawFixelRegular;
          font-size: 16px;
          color: #2A2B3B;
          margin: 5px 0 5px 20px;
        }
        .pass-input{
          position: relative;
          .eye{
            position: absolute;
            right: 2vh;
            top: 1.5vh;
            width: 24px;
            height: 24px;
          }
          input{
            border: none;
            border-radius: 17px;
            width: 358px;
            height: 34px;
            padding: 10px 20px;
            font-family: MacPawFixelMedium;
            font-size: 18px;
            line-height: 25px;
            outline: none;
          }
          input::placeholder{
            opacity: 0.3;
            font-size: 18px;
            font-family: MacPawFixelRegular;
          }
        }
        .radio-btn{
          display: flex;
          margin: 15px 0 0 20px;
          font-size: 12px;
          font-family: MacPawFixelRegular;
          line-height: 17px;
          span{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 5px;
          }
          input[type='checkbox']{
            width: 16px;
            height: 16px;
            border: 2px solid rgba(42, 43, 59, 0.5) !important;
            border-radius: 5px;
          }
        }
      }
      .sign-in{
        display: flex;
        margin: 20px 0 20px;
        cursor: pointer;
        width: 100%;
        background: #1BBDA0;
        height: 54px;
        border: none;
        align-items: center;
        justify-content: center;
        span{
          color: #F2F2F2;
        }
        :disabled {
          span{
            opacity: 0.5;
          }
        }
      }
      .alter-login{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        opacity: 0.5;
        color: #2A2B3B;
        hr{
          display: flex;
          flex-direction: column;
          width: 180px;
          height: 0px ;
        }
        span{
          margin: 0 5px;
          font-size: 18px;
          font-family: MacPawFixelMedium;
        }
      }
      .google-login{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        height: 54px;
        border: 1px solid #2A2B3B;
        border-radius: 17px;
        img{
          width: 26px;
          height: 26px;
        }
        span{
          margin-left: 10px;
        }
      }
    }
  }
  .sign-up{
    align-self: center;
    margin-top: 5vh;
    display: flex;
    font-family: MacPawFixelMedium;
    p{
      margin: 0 0 0 5px;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}