.MuiBox-root{
    width: 97%!important;
    margin-left: 30px;
    font-family: MacpawFixelMedium;
    border-bottom: none!important;
    .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.css-1mxz8qt-MuiPaper-root{
        box-shadow: none;
        .MuiTableContainer-root.css-rorn0c-MuiTableContainer-root{

            .MuiTable-root.css-1gplja-MuiTable-root{
                
            .MuiTableHead-root{
                
                .MuiTableRow-root {
                    /*HEAD oF TABLE*/
                    border-bottom: 1px solid rgba(224, 224, 224, 1);
                    .MuiTableCell-root.MuiTableCell-head.MuiTableCell-alignLeft.MuiTableCell-sizeMedium.css-1ygcj2i-MuiTableCell-root{
                        align-items: center!important;
                        span{
                            /*work*/
                        }
                        img{
                            align-self: flex-end!important;
                        }
                    }
                    th{
                        font-size: 14px;
                        font-family: MacpawFixelMedium!important;
                        vertical-align: middle !important;
                        span{
                            opacity: 0.3;
                        }
                        svg{
                            display: none;
                        }
                        .img{
                            width: 16px;
                            height: 16px;
                        }
                        td{
                            border-bottom: none!important;
                            font-family: MacpawFixelMedium!important;
                        }   
                    }
                }
                
                .MuiTableBody-root-css-apqrd9-MuiTableBody-root {
                    /*tbody*/    
                    font-family: MacpawFixelMedium!important;
                   
                   
                }
            }
        }
       }
    }
}