.get-started{
    margin: 10vh 0px 0px 18vw;
    align-self: start;
    .header{
        z-index: -1;
        width: 100vw;
        left: 0;
        top: 0;
        border-bottom: 1px solid #E8E8E8;
        height: 80px;
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
        .content-box{
            margin: 0px 150px 0px 17vw;
            width: 70vw;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .route-status{
                display: flex;
                align-items: center;
                span{
                    font-size: 16px;
                    font-family: MacpawFixelMedium;
                    margin: 2% 0px 0px 10px;                
                }
                img{
                    width: 18px;
                    height: 18px;
                }
            }
            button{
                width: 160px;
                height: 45px;
                background-color: #1BBDA0;
                border-radius: 10px;
                border: none;
                display: flex;
                padding: 10px 20px;
                align-items: center;
                justify-content: space-between;
                span{
                    font-size: 14px;
                    color: #ffffff;
                    font-family: MacpawFixelMedium;
                    margin-top: 1%;
                }
                img{
                    width: 14px;
                    height: 6px;
                }
            }
        }
    }
    .welcome{
        text-align: left;
        width: 450px;
        h1{
            margin: 0 0 10px;
            font-family: MacPawFixelBold;
            font-size: 32px;
            line-height: 130%;
        }
        p{
            margin: 0;
            font-family: MacPawFixelMedium;
            font-size: 14px;
            line-height: 20px;
        }
    }
    .progress-box{
        max-width: 550px;
        margin: 30px 0px 10px 0px;
        display: flex;
        flex-direction: column;
        div{
            margin: 0;
        }
        span{
            align-self: start;
            font-family: MacPawFixelBold;
            margin: 0px 0 10px;
            font-size: 18px;
            line-height: 25px;
        }

    }
    .checkpoints{
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        align-items: flex-start;
        .first-quest{
            text-align: left;
            display: flex;
            margin: 20px 0;
            padding: 0px 0 20px;
            border-bottom: 1px solid rgb(212, 212, 212);
            img{
                width: 24px;
                height: 24px;
            }
            .description{
                width: 520px;
                margin-left: 10px;
                span{
                    font-family: MacPawFixelBold;
                    font-size: 18px;
                }
                p{
                    font-size: 14px;
                    font-family: MacPawFixelMedium;
                }
            }
        }
        .sec-quest{
            margin: 0px 0;
            text-align: left;
            display: flex;
            padding: 0px 0 20px;
            border-bottom: 1px solid rgb(212, 212, 212);
            img{
                width: 24px;
                height: 24px;
            }
            .description{
                width: 520px;
                margin-left: 10px;
                span{
                    font-family: MacPawFixelBold;
                    font-size: 18px;
                }
                p{
                    font-size: 14px;
                    font-family: MacPawFixelMedium;
                }
                button{
                    padding: 10px 20px;
                    border-radius: 10px;
                    border: 1px solid #1bbda0;
                    span{
                        color: #1bbda0;
                        font-size: 14px;
                        font-family: MacPawFixelMedium;
                    }
                }
            }
        }
        .thrd-quest{
            margin: 20px 0;
            text-align: left;
            display: flex;
            padding: 0px 0 20px;
            border-bottom: 1px solid rgb(212, 212, 212);
            img{
                width: 24px;
                height: 24px;
            }
            .description{
                width: 520px;
                margin-left: 10px;
                span{
                    font-family: MacPawFixelBold;
                    font-size: 18px;
                }
                p{
                    font-size: 14px;
                    font-family: MacPawFixelMedium;
                }
                button{
                    padding: 10px 20px;
                    border-radius: 10px;
                    border: 1px solid #1bbda0;
                    span{
                        color: #1bbda0;
                        font-size: 14px;
                        font-family: MacPawFixelMedium;
                    }
                }
            }
        }
        .fourth-quest{
            margin: 20px 0;
            padding: 0px 0 20px;
            border-bottom: 1px solid rgb(212, 212, 212);
            text-align: left;
            display: flex;
            img{
                width: 24px;
                height: 24px;
            }
            .description{
                width: 520px;
                margin-left: 10px;
                span{
                    font-family: MacPawFixelBold;
                    font-size: 18px;
                }
                p{
                    font-size: 14px;
                    font-family: MacPawFixelMedium;
                }
                button{
                    padding: 10px 20px;
                    border-radius: 10px;
                    border: 1px solid #1bbda0;
                    span{
                        color: #1bbda0;
                        font-size: 14px;
                        font-family: MacPawFixelMedium;
                    }
                }
            }
        }
        hr{
            width: 100%;
            height: 1px;
        }
    }
}