.capmaigns-wrapper{
    width: 100vw;
    height: 100vh;
    align-self: start;
    position: relative;
    .header{
        width: 100%;
        left: 0;
        top: 0;
        border-bottom: 1px solid #E8E8E8;
        height: 80px;
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
        .content-box{
            align-self: center;
            max-width: 1755px;
            margin: 0px 0px 0px 60px;
            width: 70vw;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .route-status{
                display: flex;
                align-items: center;
                .manual-routes{
                    display: flex;
                    align-items: baseline;
                    span{
                        display: flex;
                        cursor: pointer;
                        font-size: 16px;
                        font-family: MacpawFixelMedium;
                        margin: 2% 0px 0px 10px;                
                    }
                    p{
                        margin: 0 10px;
                        color: #1BBDA0;
                    }
                }
                img{
                    width: 18px;
                    height: 18px;
                }
            }
            .btns{
                display: flex;
                margin-left: 30px;
                .filled{
                    cursor: pointer;
                    width: 205px;
                    height: 44px;
                    background-color: #1BBDA0;
                    border: none;
                    border-radius: 10px;
                    margin-left: 10px;
                    align-items: center;
                    display: flex;
                    justify-content: space-evenly;
                    span{
                        font-family: MacPawFixelMedium;
                        color: #ffffff;
                        font-size: 14px;
                    }
                    img{
                        width: 24px;
                        height: 24px;
                    }
                }:disabled{
                    opacity: 0.5;
                    cursor: default;
                }
            }
        }
    }  
    .upload-campaign{
        width: 100%;
        border-top: 1px solid #E8E8E8;  
        border-bottom: 1px solid #E8E8E8;              
        height: 170px;
        position: absolute;
        top: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;  
        .cards{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-left: 5%;
            min-width: 29vw;
            .email {
                width: 33.33%;
                border: 1px solid rgba(42, 43, 59, 0.3);
                padding: 20px;
                border-radius: 20px;
                margin: 0 15px;
                display: flex;
                align-items: center;
                cursor: pointer;
                .upload-des{
                    margin-left: 10px;
                    width: 230px;
                    text-align: left;
                    h4{
                        font-size: 16px;
                        font-family: MacPawFixelBold;
                        margin: 0;
                    }
                    p{
                        font-size: 14px;
                        font-family: MacPawFixelMedium;
                        margin: 0;
                    }
                }
                img{
                    width: 32px;
                    height: 32px;
                    align-self: start;
                }
            }  
            .SMS, .journey, .automations{
                border: 1px solid rgba(42, 43, 59, 0.3);
                padding: 20px;
                width: 33.33%;
                border-radius: 20px;
                margin: 0 15px;
                cursor: default;
                display: flex;
                align-items: flex-start;
                position: relative;
                opacity: 0.5;
                .cooming-soon{
                    position: absolute;
                    align-items: center;
                    width: 55px;
                    top: 0;
                    right: 0;
                    border-radius: 0px 20px;
                    background: #E4E4E6;
                    span{
                        padding-bottom: 5%;
                        color: #2A2B3B;
                        font-size: 12px;
                        font-family: MacPawFixelMedium;
                        opacity: 0.5;
                    }
                }
                .upload-des{
                    text-align: left;
                    margin-left: 10px;
                    width: 230px;
                    opacity: 0.7;
                    h4{
                        font-size: 16px;
                        font-family: MacPawFixelBold;
                        margin: 0;
                    }
                    p{
                        font-size: 14px;
                        font-family: MacPawFixelMedium;
                        margin: 0;
                    }
                }
                img{
                    width: 32px;
                    height: 32px;
                    align-self: start;
                }
            } 
        }  
    }
    .hide-upload{
        display: none;
    }
    .campaigns-preview{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        top: 30vh;
        left: 40vw;
        width: 520px;
        height: 420px;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 20px;
        img{
            max-width: 520px;
            max-height: 173px;
        }
        .campaign-desc{
            h3{
                font-family: MacPawFixelBold;
                font-size: 24px;
                margin: 0px 0px 10px auto;
            }
            p{
                margin: 0 0 auto;
                font-size: 16px;
                line-height: 22px;
                font-family: MacPawFixelMedium;
            }
        }
        button{
            background-color: #1bbda0;
            height: 45px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            span{
                margin-top: 2%;
                color: #ffffff;
                font-family: MacPawFixelMedium;
            }
        }
    }
    .campaigns-box{
        margin: 10vh 11vw 0vw 18.5vw;
        .c-title{
            text-align: left;
            max-width: 40vw;
        }
        .inner-box{
            display: flex;
            .tabs{
                h4{
                    text-align: left;
                    margin: 20px 0;
                    font-size: 16px;
                }
                .upper-container{
                    padding-bottom: 10px;
                    margin-bottom: 20px;
                    border-bottom: 1px solid #cacaca;
                }
                .link, .link-s, .emails{
                    display: flex;
                    align-items: center;
                    margin: 10px 0;
                    opacity: 0.5;
                    img{
                        width: 24px;
                        height: 24px;
                    }
                    .text{
                        margin-left: 10px;
                    }
                    .status{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 24px;
                        width: 54px;
                        background: #E4E4E6;
                        border-radius: 10px;
                        font-size: 10px;
                        margin-left: 20px;
                    }
                }
                .link, .emails{
                    cursor: pointer;
                }
                .link-s{
                    cursor: default;
                }
                .emails:hover{
                    opacity: 1;
                }
                .link:hover{
                    opacity: 1;
                }
                
            }
            .cards{
                margin-left: 30px;
                .search-input{
                    position: relative;
                    display: flex;
                    align-items: center;
                    margin: 0 11.9vw 30px 0px;
                    input{
                        align-items: center;
                        display: flex;
                        justify-content: center;
                        padding: 10px 20px 10px 50px;
                        height: 16px;
                        width: 280px;
                        background: rgba(42, 43, 59, 0.05);
                        border-radius: 10px;
                        border: none;
                    }::placeholder{
                        display: flex;
                        margin: 10px 0 0 0;
                    }
                    img{
                        left: 4%;
                        top: 25%;
                        position: absolute;
                        width: 16px;
                        height: 16px;
                    }
                }
                .card{
                    border-radius: 20px;
                    padding: 20px;
                    display: flex;
                    min-width: 793px;
                    width: 100%;
                    background-color: #ffffff;
                    align-items: center;
                    position: relative;
                    margin-bottom: 10px;
                    .button-wrapper{
                        right: 20px;
                    }
                    img{
                        align-self: flex-start;
                        width: 24px;
                        height: 24px;
                    }
                    .card-content{
                        margin-left: 10px;
                        text-align: left;
                        .title{
                            align-items: center;
                            display: flex;
                            h5{
                                font-size: 14px;
                                font-family: MacPawFixelmedium;
                                margin: 0;
                            }
                            .tab-select{
                                margin-left: 20px;
                                padding: 5px 10px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                font-size: 10px;
                                border-radius: 5px;
                                span{
                                    font-size: 10px;
                                    color: #ffffff;
                                    font-family: MacPawFixelMedium;
                                }
                            }
                        }
                        .status{
                            span{
                                font-size: 14px;
                            }
                            opacity: 0.5;
                        }
                        .type, .des{
                            opacity: 0.5;
                            font-size: 14px;
                        }
                    }
                }
                .card:hover{
                    border: 1px solid rgba(42, 43, 59, 0.2);
                }
            }
        }
    } 
}

@media(max-width:1870px){
    .capmaigns-wrapper{
        
        .upload-campaign{
            align-self: flex-end;
            right: 0!important;
            margin: 0;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            .cards{
                right: 0!important;
                margin-right: 8%;
                .email, .SMS, .journey, .automations{
                    width: 250px;
                }
            }
        }
    }
}

@media(max-width:1685px){
    .capmaigns-wrapper{
        
        .upload-campaign{
            right: 0!important;
            margin: 0;
            display: flex;
            height: auto;
            flex-direction: row;
            justify-content: flex-end;
            flex-wrap: wrap;
            align-items: center;
            .cards{
                align-self: flex-end;
                min-width: 800px;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;

                margin:0 5% 0 0%;
                right: 0!important;
                .email, .SMS, .journey, .automations{
                    width: 190px;
                    margin: 10px 10px;
                    font-size: 10px;
                    height:70px;
                    img{
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
        .campaigns-box{
            .inner-box{
                .cards{
                    .card{
                        min-width: 550px;
                    }
                }
            }
        }
    }
}