.bars{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
    .bar1, .bar2, .bar3, .bar4, .bar5{
        margin: 20px 0px 0px 0px;
        background-color: #ffffff;
        border-radius: 20px;
        align-items: center;
        display: flex;
        width: 95%;
        justify-content: space-between;
        padding: 20px 20px 20px 30px;
        .title{
            display: flex;
            align-items: center;
            img{
                width: 24px;
                height: 24px;
            }
           .description-block{
                text-align: left;
                margin-left: 20px;
                font-family: MacPawFixelMedium;
                span{
                    font-size: 16px;
                }
                p{
                    margin: 0;
                    font-size: 14px;
                    a{
                        color: #1BBDA0;
                    }
                }
            }
        }
        .main-stats{
            display: flex;
            align-items: center;
            .stat1, .stat2, .stat3{
                margin: 0px 30px 0px 0px;
                span{
                    font-size: 10px;
                    font-family: MacPawFixelMedium;
                }
                h3{
                    margin: 5px 0 0;
                    font-size: 18px;
                    font-family: MacPawFixelBold;
                }
            }
            .dots{
                width: 24px;
                height: 24px;
                cursor: pointer;
            }
        }
    }
}